.button {
    width: 250px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-color: aliceblue;
    border: 3px solid #555;
    border-radius: 15px;
}
.button:hover {
    cursor: pointer;
    background: linear-gradient(
        90deg,
        rgba(9, 121, 87, 1) 5%,
        rgba(0, 200, 255, 1) 74%
    );
    color: white;
    -webkit-box-shadow: 4px 4px 16px 3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 4px 16px 3px rgba(66, 68, 90, 1);
    box-shadow: 4px 4px 16px 3px rgba(66, 68, 90, 1);
}

.campaignList {
    background-color: aliceblue;
    border: 10px solid rgb(148, 148, 148);
    background-color: rgb(229, 229, 229);
    border-radius: 35px;
    margin-bottom: 35px;
    width: 500px;
    align-items: center;
    justify-content: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.campaignList p > span {
    text-transform: uppercase;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 600px;
    justify-content: center;
    border: 11px solid rgb(148, 148, 148);
    align-items: center;
    background-color: rgb(229, 229, 229);
    border-radius: 10%;
    -webkit-box-shadow: 9px 9px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 9px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 9px 9px 24px 0px rgba(66, 68, 90, 1);
}
.form input {
    margin-bottom: 15px;
    width: 300px;
    padding: 12px 10px;
    font-size: 15px;
}
.form input:focus {
    outline: none;
    border: 3px solid #555;
    border-radius: 5px;
}

.form label {
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}
.form label:first-child {
    margin-top: 15px;
}
.form select {
    margin-bottom: 15px;
    width: 325px;
    height: 30px;
    font-size: 15px;
    padding-left: 3px;
}
.form select:focus {
    outline: none;
    border: 3px solid #555;
    border-radius: 5px;
}

.main {
    position: relative;
    z-index: 1;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section button {
    margin-top: 25px;
    width: 400px;
    height: 50px;
    border-radius: 30px;
}
.section button:hover {
    -webkit-box-shadow: 10px 10px 24px 4px rgba(207, 208, 226, 1);
    -moz-box-shadow: 10px 10px 24px 4px rgba(207, 208, 226, 1);
    box-shadow: 10px 10px 24px 4px rgba(207, 208, 226, 1);
}

.specButtons button {
    margin-bottom: 25px;
    outline: none;
    border: 3px solid #555;
    font-size: 20px;
    background-color: aliceblue;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.specButtons button:hover {
    -webkit-box-shadow: 4px 4px 10px 4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 4px 10px 4px rgba(66, 68, 90, 1);
    box-shadow: 4px 4px 10px 4px rgba(66, 68, 90, 1);
    cursor: pointer;
    background: linear-gradient(
        90deg,
        rgba(9, 121, 87, 1) 5%,
        rgba(0, 200, 255, 1) 74%
    );
}
